.qna-write-main-div{
    width: 90%;
    margin: 50px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qna-write-table{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 600px;
    padding: 20px;
}

.qna-write-tr{
    border-bottom: 1px solid black;
}

.qna-write-th .qna-write-td{
    
}

.qna-write-th{
    font-size: 20px;
    font-weight: 700;
    background-color: aliceblue;
    text-align: center;
}

.qna-write-select{
    width: 200px;
    padding: 4px 10px;
    border: none;
}

.qna-write-input{
	width: 100%;
	margin: 0;
	padding: 5px;
	border: none;
}

.qna-write-textarea{
	width: 100%;
	resize: none;
	margin: 0;
	padding: 5px;
	height: 300px;
	border: none;
}

.qna-write-insert-btn{
    padding: 10px;
    background-color: gray;
    color: white;
    cursor: pointer;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
}