.main-div{
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: buttonhighlight;
}

.cate-content-box{
    display: flex;
    margin : 0 10% 0 10%;
	
}

.left-box{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom : 30px;
}

.cate-button-box{
    display: flex;
    padding: 10px;
}

.cate-button-box button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: gray;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.up-down-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.up-down-box button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: gray;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.cate-box{
    display: flex;
    flex-direction: column;
}

.cate-main-box{
    padding: 5px;
    margin-bottom: 5px;
}

.cate-main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    width: 200px;
    cursor: pointer;
    background: white;
    font-weight: 700;
}

.cate-sub-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    width: 200px;
    margin-bottom: 5px;
    cursor: pointer;
    background: white;
}

.cate-sub-box{
    padding: 5px 0 5px 20px;
    
    display: flex;
    flex-direction: column;
}

.save-button-box{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-button-box button{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.right-box{
    width: 800px;
    margin-left: 50px;
}

.table{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

.th{
    border-right: 1px solid #dee2e6;
	width: 30%;
	padding: 20px;
	height: 30%;
	vertical-align: middle;
	text-align: center;
}

.td{
    padding: 20px;
}

.board-style-box{
    display: flex;
}

.row-count{
    width: 60px;
}

.radio-box{
	margin-right: 20px;
}

.hide-tr{
	display: none;
}

.cate-title-area{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	border: 1px solid black;
	padding: 10px;
}

.cate-title-area span{
	font-size: 25px;
}

.cate-input{
	width: 100%;
	background-color: buttonhighlight;
	border: none;
}